/* ==========================================================================
 * MEDIA STACKED OBJECT
 *
 * Stacked image-with-text object. A simple abstraction to cover a very
 * commonly occurring design pattern.
 *
 * <div class="_o-stackedMedia">
 *   <img class="_o-stackedMedia__img" />
 *   <div class="_o-stackedMedia__body">
 *     <p>Body Content</p>
 *   </div>
 * </div>
 * ========================================================================== */

._o-stackedMedia {
  display: block;
  text-align: center;
}

._o-stackedMedia__img {
  margin-bottom: $globalSpacing;
}

._o-stackedMedia__body {
  display: block;
}

/* Alignment modifiers
 * ========================================================================== */

._o-stackedMedia--right {
  text-align: right;
}

._o-stackedMedia--left {
  text-align: left;
}

/* Spacing Modifiers (margin-bottom)
 *
 * Modify the amount of space between the image and body.
 * ========================================================================== */

@each $spacing-name, $spacing-factor in $globalSpacingFactors {
  ._o-stackedMedia--#{$spacing-name} > ._o-stackedMedia__img {
    margin-bottom: ($globalSpacing * $spacing-factor);
  }
}
