/* ==========================================================================
 * WRAPPER OBJECT

 * Page-level constraining and wrapping elements.
 * ========================================================================== */

$wrapperMaxWidth: 1360px !default;

/* stylelint-disable */
@if (type-of($wrapperMaxWidth) != number) {
  @error "`#{$wrapperMaxWidth}` needs to be a number.";
}
/* stylelint-enable */

.o-wrapper, ._o-wrapper {
  @include clearfix();
  padding-right: ($globalSpacing * 0.5);
  padding-left: ($globalSpacing * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: $wrapperMaxWidth;

  .o-wrapper--ignore, ._o-wrapper--ignore {
    margin-right: -($globalSpacing * 0.5);
    margin-left: -($globalSpacing * 0.5);
  }
}

/* Modifiers
 * ========================================================================= */

@mixin wrapperModifiers($breakpoint: null) {
  /* Flush
   * --------------------------- */

  .o-wrapper--flush#{$breakpoint}, ._o-wrapper--flush#{$breakpoint} {
    max-width: none;
  }

  /* Size Variants
   * --------------------------- */

  @each $spacingName, $spacingFactor in $globalSpacingFactors {
    .o-wrapper--#{$spacingName}#{$breakpoint}, ._o-wrapper--#{$spacingName}#{$breakpoint} {
      padding-right: (($globalSpacing * $spacingFactor) * 0.5);
      padding-left: (($globalSpacing * $spacingFactor) * 0.5);

      .o-wrapper--ignore, ._o-wrapper--ignore {
        margin-right: -(($globalSpacing * $spacingFactor) * 0.5);
        margin-left: -(($globalSpacing * $spacingFactor) * 0.5);
      }
    }
  }
}

@include wrapperModifiers();

/* =========================================================================
 * WRAPPER OBJECT MEDIA QUERIES
 * ========================================================================= */

$customWrapperSpacing: (
  null: $globalSpacingXs,
  "tabletV": $globalSpacing,
  "tabletH": $globalSpacingXl,
  "laptop": $globalSpacingXl,
);

@mixin customWrapperSpacing($breakpoint: null, $breakpointName: null) {
  $spacing: map-get($customWrapperSpacing, $breakpointName);

  @if ($spacing != null) {
    .o-wrapper, ._o-wrapper {
      padding-right: $spacing;
      padding-left: $spacing;
      max-width: $wrapperMaxWidth + ($spacing * 2);

      .o-wrapper--ignore, ._o-wrapper--ignore {
        margin-right: -$spacing;
        margin-left: -$spacing;
      }
    }

    .o-wrapper.o-wrapper--flush, ._o-wrapper._o-wrapper--flush {
      max-width: none;
    }
  }
}

@include customWrapperSpacing();
