.color__ball {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.color__Onca-Rosa {
  background-color: rgb(245, 135, 236);
}
.color__Rosa {
  background-color: rgb(214, 123, 187);
}
.color__Marinho-Beija-Flor {
  background-color: rgb(0, 40, 114);
}
.color__Listra-Rosa-Bco {
  background-color: rgb(255, 182, 249);
}
.color__Listra-Amarelo-Bco {
  background-color: rgb(243, 228, 161);
}
.color__Vermelho {
  background-color: rgb(253, 0, 0);
}
.color__Branco {
  background-color: rgb(255, 255, 255);
}
.color__Onca {
  background-color: rgb(205, 132, 214);
}
.color__Listrado-Mescla {
  background-color: rgb(139, 139, 139);
}
.color__Amarelo {
  background-color: rgb(251, 255, 0);
}
.color__Mescla {
  background-color: rgb(167, 167, 167);
}
.color__Nuvens-Rosa {
  background-color: rgb(209, 135, 197);
}
.color__Onca-Branco {
  background-color: rgb(228, 223, 212);
}
.color__Mescla-Listra-Marinho {
  background-color: rgb(32, 3, 110);
}
.color__Urso-Branco {
  background-color: rgb(195, 195, 195);
}
.color__Rosa-Claro {
  background-color: rgb(242, 175, 246);
}
.color__Verde-Lima {
  background-color: rgb(93, 231, 105);
}
.color__Pink {
  background-color: rgb(236, 44, 220);
}
.color__Verde-Acqua {
  background-color: rgb(4, 245, 213);
}
.color__Marinho-Glitter {
  background-color: rgb(19, 21, 138);
}
.color__Preto {
  background-color: rgb(0, 0, 0);
}
.color__Off-White {
  background-color: rgb(167, 167, 167);
}
.color__Marinho {
  background-color: rgb(48, 22, 194);
}
.color__Branco-Listra-Mescla {
  background-color: rgb(141, 135, 135);
}
.color__Floral-Rosa {
  background-color: rgb(202, 0, 108);
}
.color__Preto-Prata {
  background-color: rgb(87, 87, 87);
}
.color__Rosa-Vermelho-Floral {
  background-color: rgb(194, 36, 70);
}
.color__Verde {
  background-color: rgb(50, 190, 85);
}
.color__Rosa-Chiclete {
  background-color: rgb(211, 1, 193);
}
.color__Branco-Rosa-Fundo-do-Mar {
  background-color: rgb(207, 118, 203);
}
.color__Rosa-Chiclete-Branco-Listrado {
  background-color: rgb(212, 140, 197);
}
.color__Rosa-Lhamas-Rosa {
  background-color: rgb(224, 133, 224);
}
.color__Rosa-Claro-Rose {
  background-color: rgb(255, 75, 246);
}
.color__Coral-Rosa-Poa {
  background-color: rgb(223, 128, 231);
}
.color__Rosa-Claro-Pink {
  background-color: rgb(245, 96, 200);
}
.color__Mescla-Rosa-Coracoes {
  background-color: rgb(184, 12, 78);
}
.color__Rosa-Chiclete-Marinho-Borboleta {
  background-color: rgb(168, 89, 175);
}
.color__Preto-Gatos {
  background-color: rgb(41, 37, 37);
}
.color__Branco-Rosa-Claro {
  background-color: rgb(198, 149, 200);
}
.color__Preto-Xadrez {
  background-color: rgb(42, 37, 37);
}
.color__Azul-Claro-Royal {
  background-color: rgb(0, 49, 211);
}
.color__Brnco-Mescla-Dinossauro {
  background-color: rgb(175, 173, 173);
}
.color__Verde-Mescla-Listrado {
  background-color: rgb(158, 158, 158);
}
.color__Vermelho-Marinho {
  background-color: rgb(246, 50, 50);
}
.color__Branco-Mescla-Dinossauro {
  background-color: rgb(175, 173, 173);
}
.color__Vermelho-Mescla {
  background-color: rgb(126, 70, 70);
}
.color__Branco-Marinho {
  background-color: rgb(126, 117, 179);
}
.color__Azul-Claro-Preto {
  background-color: rgb(27, 29, 100);
}
.color__Mescla-Preto {
  background-color: rgb(63, 62, 62);
}
.color__Verde-Marinho {
  background-color: rgb(47, 107, 50);
}
