/* 
    USAGE:

    <div class="_c-floatBtn">
        <button>
            <i class="material-icons" (Ou outro pacote de ícones) >
                done
            </i>
        </button>
    </div>
*/

.c-floatBtn, ._c-floatBtn {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
    
    button {
        width: 56px;
        height: 56px;
        
        background-color: getColor("primary");
        padding: 0;
        border: none;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        display: inline-block;
        @include elevation(2);

        &:hover {
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2);
        }

        &:focus {
            background-color: getColor("primary");
        }

        i {
            line-height: 56px;
            width: inherit;
            display: inline-block;
            text-align: center;
            color: #fff;
        }
    }
}